<p>Greetings from VirtualDukan!</p>

<pre>{{ user.u_name }},

As you have requested to reset your password, please go through the details given below to proceed further.

The email address and verification token provided below is very important, do not lose it and do not give this email to anyone,

<b>Email:</b> {{ email }}
<b>Verification Token:</b> {{ token }}

Enter your verification token, registered email address and your new password by going through the given link below to change your password 
or <a href="http://localhost:8080/public/reset-token">click here</a>.

<b>Reset Link:</b> <a href="http://localhost:8080/public/reset-token">http://localhost:8080/public/reset-token</a>
 </pre>
<pre>
For more information you can contact support: support@virtualdukan.com
24/7 Customer Support : 115-222-442-44
P.O Box 19923, SA EAST
Address: VirtualDukan, 12B, 12th floor, Dolmen Executive Tower, Virtual Block 4, Virtual City. Pakistan
</pre>


<center>    
<pre style="font-size: 10px;">You have received this email, because you or someone else has confirmed that the email address aitsama.ahad@gmail.com 
would like to receive email communication from VirtualDukan. We will never share your personal information (such as your email 
address with any other 3rd party without your consent).

This email was sent by: VirtualDukan, 12B, 12th floor, Dolmen Executive Tower, Virtual Block 4, Virtual City. Pakistan</pre>
</center>