   
<p>Welcome to the Family!</p>


<pre>{{ user.u_name }},

Thank you for joing VirtualDukan family and creating your account.

To sign in to our site, use these credentials during checkout or on the My Account page:

Email: {{ user.u_email }}
Password: Password you set when creating account.

When you sign in to your account, you will be able to:

 - Proceed to add products to the cart
 - Checkout the products
 - Ask question to the product's seller
 - Give review to your already purchased products
 - View past orders
 </pre>
<pre>
For more information you can contact support: support@virtualdukan.com
24/7 Customer Support : 115-222-442-44
P.O Box 19923, SA EAST
Address: VirtualDukan, 12B, 12th floor, Dolmen Executive Tower, Virtual Block 4, Virtual City. Pakistan
</pre>
    
<p>Love, Admin</p>